    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: #f4f4f4;
    }
/* Login block enrolment.php */
    .form-group {
        margin-bottom: 10px;
    }
    label {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
    }
    input, select, button {
        padding: 6px;
        font-size: 14px;
        width: 300px;
        box-sizing: border-box;
    }
    select {
        width: 310px;
    }
    .contractor-group {
        display: none;
    }
    button {
        width: auto;
    }
	.login-container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    .login-container h2 {
      color: #333;
      margin-bottom: 20px;
      font-size: 24px;
    }

    /* Label styling */
    .login-container label {
      display: block;
      margin-bottom: 8px;
      color: #555;
      font-weight: bold;
      text-align: left;
    }

    /* Input styling */
    .login-container input[type="text"],
    .login-container input[type="email"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    /* Button styling */
    .login-container button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    /* Button hover effect */
    .login-container button:hover {
      background-color: #0056b3;
    }

    /* Additional text styling */
    .login-container .info-text {
      font-size: 12px;
      color: #555;
      margin-top: 30px;
      text-align: center;
    }

/* Horizontal Tabs for dbmtce.php */
    .tabs {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-top: 10px;
      margin-bottom: 10px;	
     }
    .tab-button {
      background-color: #e6e6e6;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px 15px;
      text-decoration: none;
      color: #333;
      font-weight: bold;
      text-transform: capitalize;
      transition: background-color 0.3s, color 0.3s;
      }
      .tab-button:hover {
      background-color: #0056b3;
      color: white;
      }

/* Style for selectAuth.php -- Part 1*/
      table {
          width: 100%;
          border-collapse: collapse;
          margin-top: 20px;
      }
      table, th, td {
          border: 1px solid #ddd;
      }
      th, td {
          padding: 8px;
          text-align: left;
      }
      th {
          background-color: #f2f2f2;
      }

/* Style for selectAuth.php -- Part 2*/
      .group {
          margin-bottom: 5px;
      }
      .group h3 {
          margin-bottom: 5px;
      }
      #group-label {
          text-align: right;
      }
      .checkbox-item {
          display: flex;
          align-items: right;
          margin-bottom: 5px;
      }
      .checkbox-item label {
/*        align-items: right; */
		  margin-left: 5px;
		  text-align: left;
      }
      .submit-btn {
          margin-top: 20px;
          padding: 10px 20px;
          font-size: 16px;
          background-color: #007BFF;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
      }
      .submit-btn:hover {
          background-color: #0056b3;
      }
